<section class="container">
    <section class="firstLayout" ng-show="vm.status == 1">
<!-- writes data -->
        <section class="phone" ng-if="vm.service.type == 'phone'">
            <div class="phone__title"> 
                    <span class="phone__title--text">Введите номер телефона</span>
            </div>
            <div class="phone__number">
                <form name="myForm">
                    <input class="phone__number--numb" name="phone" type="tel" placeholder="+7(___)___-_____" ng-model="vm.phone" ng-pattern="/^\+?(\d{1,3})?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$/" required>
                    <div>
                        <span style="color:red" ng-show="myForm.phone.$error.pattern"> Not a valid number! </span>
                        <span style="color:red" ng-show="myForm.phone.$error.required"> This field is required! </span>
                    </div>
                </form>
                
            </div>
        </section>
        <section class="keyboard-phone" ng-if="vm.service.type == 'phone'">
            <div class="keyboard-phone-cont">
                <div class="keyboard-phone-cont__row">
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('7')">7</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('8')">8</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('9')">9</button>
                </div>
                <div class="keyboard-phone-cont__row">
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('4')">4</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('5')">5</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('6')">6</button>
                </div>
                <div class="keyboard-phone-cont__row">
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('1')">1</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('2')">2</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('3')">3</button>
                </div>
                <div class="keyboard-phone-cont__row">
                    <button class="keyboard-phone-cont__row--el keyboard-phone-cont__row--C" ng-click="vm.keyPressNumb('C')">C</button>
                    <button class="keyboard-phone-cont__row--el" ng-click="vm.keyPressNumb('0')">0</button>
                    <button class="keyboard-phone-cont__row--el keyboard-phone-cont__row--image" ng-click="vm.keyPressNumb('delete')">
                        <img class="keyboard-phone-cont__row--img" src="../images/backspace.png" alt="">
                    </button>
                </div>
            </div>
        </section>
        <section class="internet" ng-if="vm.service.type == 'cabinet_id'">
            <form name="myForm2">
                <div class="f" ng-repeat="inp in vm.service.fields track by $index">
                    <label for="input">{{inp.name}}</label>
                    <input name="input_email" type="{{inp.type}}" class="internet__input" placeholder="sss" ng-model="vm.interInput[$index]" ng-pattern="inp.pattern" ng-click="vm.state(inp)">
                    <div>
                        <span style="color:red" ng-show="myForm2.input_email.$error.pattern"> Not a valid number! </span>
                        <span style="color:red" ng-show="myForm2.input_email.$error.required"> This field is required! </span>
                    </div>
                </div>
            </form>
        </section>
        <section class="keyboard-email" ng-if="vm.service.type == 'cabinet_id'">
            <div class="keyboard-email-container">
                <div class="keyboard-email-cont keyboard-email-1">
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('1', vm.clicked)">1</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('2', vm.clicked)">2</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('3', vm.clicked)">3</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('4', vm.clicked)">4</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('5', vm.clicked)">5</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('6', vm.clicked)">6</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('7', vm.clicked)">7</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('8', vm.clicked)">8</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('9', vm.clicked)">9</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('0', vm.clicked)">0</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('-', vm.clicked)">-</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('=', vm.clicked)">=</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('delete', vm.clicked)">Del</button>
                </div>
                <div class="keyboard-email-cont keyboard-email-2">
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('Q', vm.clicked)">Q</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('W', vm.clicked)">W</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('E', vm.clicked)">E</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('R', vm.clicked)">R</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('T', vm.clicked)">T</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('Y', vm.clicked)">Y</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('U', vm.clicked)">U</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('I', vm.clicked)">I</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('O', vm.clicked)">O</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('P', vm.clicked)">P</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('[', vm.clicked)">[</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress(']', vm.clicked)">]</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('\\', vm.clicked)">\</button>
                </div>
                <div class="keyboard-email-cont keyboard-email-2">
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('A', vm.clicked)">A</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('S', vm.clicked)">S</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('D', vm.clicked)">D</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('F', vm.clicked)">F</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('G', vm.clicked)">G</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('H', vm.clicked)">H</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('J', vm.clicked)">J</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('K', vm.clicked)">K</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('L', vm.clicked)">L</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress(';', vm.clicked)">;</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('\'', vm.clicked)">'</button>
                </div>
                <div class="keyboard-email-cont keyboard-email-2">
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('Z', vm.clicked)">Z</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('X', vm.clicked)">X</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('C', vm.clicked)">C</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('V', vm.clicked)">V</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('B', vm.clicked)">B</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('N', vm.clicked)">N</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('M', vm.clicked)">M</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress(',', vm.clicked)">,</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('.', vm.clicked)">.</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('/', vm.clicked)">/</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('shift', vm.clicked)">SHIFT</button>
                </div>
                <div class="keyboard-email-cont keyboard-email-2">
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('ctrl', vm.clicked)">CTRL</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('alt', vm.clicked)">ALT</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('space', vm.clicked)">SPACE</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('alt', vm.clicked)">ALT</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('ctrl', vm.clicked)">CTRL</button>
                    <button class="keyboard-email-1__el" ng-click="vm.keyPress('C', vm.clicked)">Clear</button>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="prev" ng-click="vm.prevLayout()">
                Назад
            </div>
            <div class="next" ng-click="vm.nextLayout()">
                Вперед
                </div>
        </section>
        <section class="keyboard">
            
        </section>
    </section>
    <section class="secondLayout" ng-show="vm.status == 2">
<!-- data validation  -->
        <div class="confirmation" ng-if="vm.service.type == 'phone'">
            <span ng-bind="vm.phone" class="confirmation__number"></span>
        </div>
        <div class="confirmation" ng-if="vm.service.type == 'cabinet_id'">
            <div class="cContent" ng-repeat="input in vm.interInput">
                <span ng-bind="input"></span>
            </div>
        </div>
        <section class="footer">
                <div class="prev" ng-click="vm.prevLayout()">
                    Назад
                </div>
                <div class="next" ng-click="vm.nextLayout()">
                    Вперед
                    </div>
        </section>
    </section>
    <section class="thirdLayout" ng-show="vm.status == 3">
<!-- payment and loading -->
        <div class="payment-acceptance" ng-if="vm.service.type == 'phone'">
            <span class="" ng-bind="vm.phone"></span>
            <div class="payment-acceptance__phone">
                <span class="payment-acceptance__text">Сумма</span>
                <span class="payment-acceptance__numb">500</span>
            </div>
            <div class="payment-acceptance__phone">
                <span class="payment-acceptance__text">Комиссия</span>
                <span class="payment-acceptance__numb">30</span>
            </div>
            <div class="payment-acceptance__phone">
                <span class="payment-acceptance__text">К зачислению</span>
                <span class="payment-acceptance__numb">470</span>
            </div>
        </div>
        <div class="payment-acceptance" ng-if="vm.service.type == 'cabinet_id'">
            <div class="payment-acceptance__phone" ng-repeat="input in vm.interInput track by $index">
                <span class="payment-acceptance__text" ng-bind="$index"></span>
                <span class="payment-acceptance__numb" ng-bind="input"></span>
            </div>
            <div class="payment-acceptance__phone">
                    <span class="payment-acceptance__text">Сумма</span>
                    <span class="payment-acceptance__numb">500</span>
                </div>
                <div class="payment-acceptance__phone">
                    <span class="payment-acceptance__text">Комиссия</span>
                    <span class="payment-acceptance__numb">30</span>
                </div>
                <div class="payment-acceptance__phone">
                    <span class="payment-acceptance__text">К зачислению</span>
                    <span class="payment-acceptance__numb">470</span>
                </div>
        </div>
        <section class="footer">
                <div class="prev" ng-click="vm.prevLayout()">
                    Назад
                </div>
                <div class="next" ng-click="vm.nextLayout()">
                    Вперед
                    </div>
        </section>
    </section>
    <section class="fourthLayout" ng-show="vm.status == 4">
        <div class="completion-payment" ng-if="vm.service.type == 'phone'">
            <span class="" ng-bind="vm.phone"></span>
            <span> Зачислено </span>
            <span class=""> 470 </span>
        </div>
        <div class="completion-payment" ng-if="vm.service.type == 'cabinet_id'">
            <div ng-repeat="input in vm.interInput">
                <span ng-bind="input"></span>
            </div>
            <span> Зачислено </span>
            <span class=""> 470 </span>
        </div>
        <section class="footer footer-fourth">
                <div class="home" ng-click="vm.home()">
                    На главную
                </div>
        </section>
<!-- success payment -->
    </section>
</section>