.profile{
  width: 100%;
  height: 100%;
  display: flex;

}
.profile-info{
  width: 20%;
  height: 100vh;
  background-color: red;
}

.profile-post{
  width: 80%;
  height: 100%;

}

.post{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.post-item{
  display: block;
  margin: 20px;
  width: 290px;
  height: 290px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}


.post-item__add{
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.post-item__add:hover{
  background-color: rgba(0, 0, 0, .6);
  
}

.post-item__inner{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-item__add--icon{
  height: 75px;
  width: 75px;
}


.post-item__title{
  margin-top: 20px;
  display: block;
  color: #fff;
  font-size: 18px;
  
}